
<%= render 'aside_menu', :selected_item=>1 do %>
  <div class="col-sm-8" style="padding:0 0 0 0 ">

    <div class="project_show_Table animated fadeIn">
      <div style="color: green"><%= flash[:wishlist] %></div>
      <h1 style="color: white;text-align: center;"> Wishlist by <%= @user.email %></h1>

      <table class="table">
        <tr><th>Project Title</th>
          <th>Owner</th>

          <th>Date</th>

          <th>Delete</th>

        </tr>

        <%wishlist=Wishlist.find_by(user_id:@user.id)

          if not wishlist.nil?
            projects= wishlist.projects
            if not projects.nil?
              @user.wishlist.projects.each do |project| %>
            <tr><td><%= link_to project[:title] ,project_url(project) %></td>
              <td><%= project.status%>
              </td>
              <td><%= project.delivery_date do%>
                  <i class="glyphicon glyphicon-edit center"></i>
                <% end %>
              </td>
              <td><%= link_to '/wishlist/project/?wishlist=' + wishlist.id.to_s + ';project=' + project.id.to_s, :method=> 'delete' do%>
                  <i class="glyphicon glyphicon-remove center"></i>
                <% end %>
              </td>

            </tr>
          <% end
          end
          end %>
      </table>

      <br>

    </div>
  </div>


<% end %>
