<div id="home_section" class="home_section animated lightSpeedIn" >
  <p style="color: green"><%= flash[:fund_request] %></p>
  <h1 style="color: white">Start with Us!!!</h1>
  <h3 style="color: white">Pedro Grand & Juan Esteban Vejar</h3>
  <% @projects.each do |project| %>
  <div class="project_row">
    <% if project.multimedia_contents.sample != nil %>
          <img src="<%= project.multimedia_contents.sample.image %>">
    <% end %>
    <strong class="title"><%= project.title %></strong>
    <div class="description"><%= project.description %></div>
    <%= link_to 'Go To Project', project, class: "btn btn-primary", style: "float: left;margin-top: -25px;margin-left:10px"%>
  </div>
  <% end %>
</div>
<script>
    function BodySize()
    {
        var body = $("#home_section");
        var size = body.height();
        if (size < 850)
        {
            body.css("height","850px")
        }
    }
    $(document).ready(function () {
        BodySize();
    });
</script>