<div class="edit_profile_panel">
  <p style="color: green"><%= flash[:created_promise] %></p>
  <p style="color: red"><%= flash[:deleted_promise] %></p>
  <p style="color: green"><%= flash[:item_created] %></p>
  <h1 style="padding-top: 10px">Editing Project</h1>

  <%= form_for @project, method: "patch" do |pj| %>
   <div class="my_row">
    <label>Title</label>
    <%= pj.text_field :title %>
   </div>
    <div class="my_row">
  <label>Description</label>
  <%= pj.text_field :description %>
    </div>
    <div class="my_row">
  <label>Goal Amount</label>
  <%= pj.text_field :goal_amount %>
    </div>
    <div class="my_row">
      <label>Delivery Date</label>
      <div style="color:black;">
      <%= pj.date_select :delivery_date %>
      </div>
    </div>
    <% if @project.promises.size() > 0 %>
    <table>
      <tr>
        <th>Descripcion</th>
        <th colspan="2">Acciones</th>
      </tr>
      <tr>
        <% @project.promises.each do |p| %>
        <tr>
          <td><%= p.description %></td>
          <td><%= link_to "", "/delete_promise?id=" + p.id.to_s + ";project_id=" + @project.id.to_s, method: :post, class: "btn btn-danger", title: "Delete" %>
            <button id="add_item" data="<%= p.id.to_s %>" class="btn btn-primary" type="button">Add Item</button><br>

          </td>
        </tr>
        <% end %>
      </tr>
    </table>
      <br>
    <% end %>
  <%= pj.submit "Update", style:"position:relative;right:3px;bottom:3px", class: "btn btn-success" %>
  <% end %>
  <button id="add_promise" class="btn btn-primary" type="button">Add Promise</button><br>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>

</div>

<!-- The Modal -->
<div id="myModal" class="modal animated fadeIn">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= form_tag("/create_promise") do |p| %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= label_tag("Description") %>
      <%= text_field_tag :description %><br>
      <%= label_tag("Image") %>
      <%= file_field_tag :image %><br>
      <%= label_tag("Price") %>
      <%= text_field_tag :price %><br>
      <%= label_tag("Quantity") %>
      <%= text_field_tag :quantity %><br>
      <%= submit_tag("Create!", class: "btn btn-success") %>
    <% end %>
  </div>

</div>

<!-- The Modal -->
<div id="itemModal" class="modal animated fadeIn">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <%= form_tag("/create_item", :method=> :post, multipart:true ) do |p| %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= hidden_field_tag :promise_id %>
      <%= label_tag("Name") %>
      <%= text_field_tag :name %><br>
      <%= label_tag("Image") %>
      <%= file_field_tag :image%><br>
      <%= submit_tag("Create!", class: "btn btn-success") %>
    <% end %>
  </div>

</div>
<script>
function Modal(){

    var item = document.getElementById('itemModal');

// Get the button that opens the modal
    var btn1 = $("[id^=add_ite]");

// Get the <span> element that closes the modal
    var span1 = document.getElementsByClassName("close")[0];
    span1.onclick = function() {
        modal.style.display = "none";
    }

    $(btn1).click(function() {
        var value = $(this).attr('data');
        console.log(value);
        $("#promise_id").val(value);
        item.style.display = "block";
    });
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == item) {
            item.style.display = "none";
        }
    }

    var modal = document.getElementById('myModal');

// Get the button that opens the modal
    var btn = $("[id^=add_promis]");

// Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    $(btn).click(function() {
        modal.style.display = "block";
    });

}
Modal();
</script>