<p id="notice"><%= notice %></p>

<div class="project_show_Table">
<h1 style="color: white;text-align: center;">Projects</h1>

<table class="table">
  <thead style="color: white;">
    <tr>
      <th width="20%">Title</th>
      <th>Description</th>
      <th width="10%">Goal Amount</th>
      <th>Status</th>
      <th>Delivery Date</th>
      <th width="10%" colspan="3"></th>
    </tr>
  </thead>

  <tbody style="color: white;">
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td>$ <%= project.goal_amount %></td>
        <td><%= project.status %></td>
        <td><%= project.delivery_date %></td>
        <td><%= link_to 'Go To Project', project, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
</div>