<div class="project_create_view animated zoomIn">
  <h1>New Project</h1>

  <%= form_for @project, method: "post" do |pj| %>
    <div>
      <label>Title</label>
      <%= pj.text_field :title %>
    </div>
    <div>
      <label>Description</label><br />
      <%= pj.text_area :description %>
    </div>

    <div>
      <label>Categories</label><br />



      <% Category.all.each  do |category| %>
        <input class="left" type="checkbox" style="width: 13px"id="categories[<%=category.id%>]" name="categories[<%=category.id%>]" value="true" />

        <label for="categories[<%=category.id%>]"><%=category.name%></label>

        <br />


    <% end %>
      </div>
    <div>
      <label>Goal Amount</label>
      <%= pj.text_field :goal_amount %>
    </div>
    <div>
      <label>Status</label>
      <%= pj.text_field :status %>
    </div>
    <div>
      <label>Delivery Date</label>
      <%= pj.date_select :delivery_date %>
      <%= pj.hidden_field :user_id, :value => current_user.id %>
    </div>
    <label>Image</label>
    <%= pj.file_field :multimedia_content %>
    <br/>
    <%= pj.fields_for :promise do |promise| %>
    <table id="items_table" class="table">
      <thead>
        <tr><th>Description</th><th>Quantity</th><th>Price</th></tr>
      </thead>
      <tbody style="color: black">
    <tr class="animated fadeIn"><td><%= promise.text_field :description %></td><td><%= promise.text_field :quantity %></td><td><%= promise.text_field :price %></td></tr>
   </tbody>
    </table>
    <% end %>
    <%= pj.submit "Create", :class=> "btn btn-success" %>
  <% end %>
    <br />
  <%= link_to 'Back', projects_path, class: "btn btn-danger" %>
</div>

