<div class="project_create_view">
  <h1>New Project</h1>

  <%= form_for @project, method: "post" do |pj| %>
    <div>
      <label>Title</label>
      <%= pj.text_field :title %>
    </div>
    <div>
      <label>Description</label><br />
      <%= pj.text_area :description %>
    </div>
    <div>
      <label>Goal Amount</label>
      <%= pj.text_field :goal_amount %>
    </div>
      <%= pj.hidden_field :status, :value => "waiting" %>
    <div>
      <label>Delivery Date</label>
      <%= pj.date_select :delivery_date %>
    </div>
    <label>Image</label>
    <%= pj.file_field :multimedia_content %>
    <br/>
    <%= pj.fields_for :promises do |promise| %>

    <table id="items_table" class="table">
      <thead>
        <tr><th>Description</th><th>Quantity</th><th>Price</th></tr>
      </thead>
      <tbody style="color: black">

      </tbody>
    </table>
      <script>
          function AddPromises() {
              var table = $("#items_table");
              var row = '<tr class="animated fadeIn"><td><%= promise.text_field :description, class:"form-control" %></td><td><%= promise.text_field :quantity, class:"form-control" %></td><td><%= promise.text_field :price, class:"form-control" %></td></tr>';
              table.append(row);
          }

          $(document).ready(function () {
              $("#add_promise").click(function () {
                  AddPromises();
              });
          });
      </script>
    <% end %>
    <a id="add_promise" style="margin-bottom: 10px;" class="btn btn-primary">Add Promise</a> <br/>
    <%= pj.submit "Create", :class=> "btn btn-success" %>
  <% end %>
    <br />
  <%= link_to 'Back', projects_path, class: "btn btn-danger" %>
</div>

