<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @project.users %>
</p>

<p>
  <strong>String:</strong>
  <%= @project.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @project.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @project.integer %>
</p>

<p>
  <strong>String:</strong>
  <%= @project.string %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
