<p id="notice"><%= notice %></p>
<div class="project_view">
  <div class="my_row">
    <p>
    <h2><%= @project.title %></h2>

    </p>
  </div>
  <% if @content %>
    <div class="my_row">
      <p>
        <strong>Image:</strong>
        <img src="<%= @content.image.url(:thumb) %>">
      </p>
    </div>
  <% end %>
  <div class="my_row">
    <p>
      <strong style="text-align: center">Project Owner</strong> <br/>
      <%= link_to @project.user[:email], '/profile/' + @project.user_id.to_s %>
    </p>
  </div>
  <div class="my_row">
    <p>
      <strong>Description:</strong>
    <div><%= @project.description %></div>
    </p>
  </div>
  <div class="my_row">
    <p>
      <strong>Goal Amount: $</strong>
      <%= @project.goal_amount %>
    </p>
  </div>
  <div class="my_row">
    <p>
      <strong>Status: </strong>
      <%= @project.status %>
    </p>
  </div>

  <div class="my_row">
    <p>
      <strong>Delivery Date: </strong>
      <%= @project.delivery_date %>
    </p>
  </div>
  <div class="my_row">
    <strong>Promises</strong>
  </div>
  <% @project.promises.each do |promise| %>
    <div class="my_row">
      <div>
        <%= promise.description %>
      </div>
      <div>Price:
        <%= promise.price %>
      </div>
      <div>Quantity:
        <%= promise.quantity %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Back', projects_path, class: "btn btn-danger" %>
</div>