<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @project.user[:email] %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal Amount:</strong>
  <%= @project.goal_amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Delivery Date:</strong>
  <%= @project.delivery_date %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @content.image.url(:thumb) %>" >
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
