<div style="width: 60%; margin-left: 20%;">
  <%= form_for @user, url: '/new_user', method: 'post' do |user| %>
    <%= user.fields_for :profile do |profile| %>
      <p>Name:</p><%= profile.text_field :name %>
      <p>Last Name: </p><%= profile.text_field :last_name %>
      <p>About Me: </p><%= profile.text_field :about_me %>
    <% end %>
  <p>Email: </p><%= user.text_field :email %>
  <p>Password: </p><%= user.text_field :password %>
  <%= submit_tag 'Create'%>
  <% end %>
</div>
