<div class="center">

  <%= form_for @user, url: "/profile" do |user| %>
    <%= user.fields_for :profile do |profile| %>
      <img src="<%= @content.image.url(:thumb) %>">
      <div class="form-group">
        <label>Name</label><%= profile.text_field :name, :class => "form-control", :readonly => true %>
      </div>
      <div class="form-group">
      <label>Last Lame</label><%= profile.text_field :last_name, :class => "form-control", :readonly => true %>
      </div>
      <div class="form-group">
      <label>About Me</label><%= profile.text_field :about_me, :class => "form-control", :readonly => true %>
      </div>
    <% end %>
    <table class="table">
      <% @projects.each do |project| %>
        <tr><%= project.text_field :title %></tr>
      <% end %>
    </table>
  <% end %>

</div>