<div class="profile">
  <div style="width: 10%;margin-left:90%;">
   <% if current_user %>
    <% if @user.id == current_user.id %>
      <%= link_to "Edit Profile", '/edit_profile/' + current_user.id.to_s, class: "btn btn-success" %>
      <div style="height: 5px"></div>
      <%= link_to "My Projects", '/user_projects/' + current_user.id.to_s, class: "btn btn-primary" %>
    <% end %>
   <% end %>
  </div>
  <% if @content != nil %>
      <img style="margin-left: 35%;height: 200px;" src="<%= @content.image.url(:medium) %>">
  <% end %>
      <div class="form-group">
        <label style="font-size: 20px">Name:  </label><div><%= @user.profile[:name] %></div>
      </div>
      <div class="form-group">
        <label style="font-size: 20px">Last Name:  </label><div><%= @user.profile[:last_name] %></div>
      </div>
      <div class="form-group">
        <label style="font-size: 20px" >About Me:  </label><div><%= @user.profile[:about_me] %></div>
      </div>
    <table class="table">
      <tr><th>Project Title</th></tr>
      <% @user.projects.each do |project| %>
        <tr><td><%= link_to project[:title] ,project_url(project) %></td></tr>
      <% end %>
    </table>

</div>