<!DOCTYPE html>
  <head>
    <title>CourseProjectStrarWithUs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <style>
      .nav>li>a {
        position: relative;
        display: block;

        font-size: 10px;
      }
        
        


    </style>
  </head>


<header style="padding:10px 10px 10px 10px;">
<div class="nav_bar">
  <div class="nav_buttons_container">
    <a class="nav_bar_button" href="/">Start With Us</a>
    <% if @is_admin %>
      <a class="nav_bar_button" href="/admin">Admin</a>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav_bar_button" %>
      <a class="nav_bar_button" href="">Log Out</a>
    <% else %>
      <a class="nav_bar_button" href="/users/sign_in">Log In</a>
    <% end %>
    <a class="nav_bar_button" href="/profile"></a>
  </div>
</div>

</header>
<body style="background: url(<%= asset_path 'space.jpg' %>); background-size: 100% 100% center no repeat;" >
<%= yield %>
</body>
<%# commented line
<footer style="position: relative">
  <div class="navbar navbar-inverse bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- content -->
      </div>
    </div>
  </div>
</footer></footer>

-%>

</html>
