<!DOCTYPE html>
  <head>
    <title>CourseProjectStrarWithUs</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
    <style>
      .nav>li>a {
        position: relative;
        display: block;

        font-size: 10px;
      }
        
        


    </style>
  </head>


<header style="padding:10px 10px 10px 10px;">
<div class="nav_bar">
  <div class="nav_buttons_container">
    <a class="nav_bar_button" href="/">Start With Us</a>
    <% if current_user %>
      <% if current_user.role.name == "Admin" %>
        <a class="nav_bar_button" href="/admin">Admin</a>
      <% end %>
    <% end %>
    <a class="nav_bar_button" href="/projects">Projects</a>
    <% if user_signed_in? %>
      <a class="nav_bar_button" href="/profile/<%= current_user.id %>">Profile</a>
      <a class="nav_bar_button" href="<%= my_projects_url %>">My Projects/Wishlist</a>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav_bar_button" %>
    <% else %>
      <a class="nav_bar_button" href="/users/sign_in">Log In</a>
    <% end %>

  </div>
</div>

</header>
<body id="body_main" style="background: url(<%= asset_path 'background.jpg' %>) center center no-repeat ; background-size:  100% 100% ;overflow-x: hidden" >
<%= yield %>
</body>
<footer style="height: 50px;width: 100%;">

</footer>
<%# commented line
<footer style="position: relative">
  <div class="navbar navbar-inverse bottom" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- content -->
      </div>
    </div>
  </div>
</footer></footer>

-%>


</html>
<script>
    $.fn.extend({
        animateCss: function (animationName, callback) {
            var animationEnd = (function (el) {
                var animations = {
                    animation: 'animationend',
                    OAnimation: 'oAnimationEnd',
                    MozAnimation: 'mozAnimationEnd',
                    WebkitAnimation: 'webkitAnimationEnd',
                };

                for (var t in animations) {
                    if (el.style[t] !== undefined) {
                        return animations[t];
                    }
                }
            })(document.createElement('div'));

            this.addClass('animated ' + animationName).one(animationEnd, function () {
                $(this).removeClass('animated ' + animationName);

                if (typeof callback === 'function') callback();
            });

            return this;
        },
    });

    function BodySize()
    {
        var body = $("#body_main");
        var size = body.height();
        if (size < 1200)
        {
            body.css("height","1200px")
        }
    }
    $(document).ready(function () {
        BodySize();
    });
</script>